.poke-app {
  height: 100vh;
}

.poke-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.poke-item {
  margin: 1rem;
  font-size: 0.6rem;
  list-style: none;
  text-align: center;
  border: 1px solid grey;
  border-radius: 0.5rem;
}
